<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="SALSA: Symposium About Language and
    Society, Austin">
    <meta name="author" content="SALSA Committee">
    <meta name="keywords" content="UT Austin, SALSA, Linguistics, Language">
    <link rel="icon" href="/img/favicon.ico">
    <title>SALSA - {{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/salsa/style/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/salsa/style/css/web.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md  fixed-top">
      <a class="navbar-brand" href="/index.html">SALSA XXVI</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/call.html">Call for Papers</a>
          </li> 

          <li class="nav-item">
            <a class="nav-link disabled" href="/registration.html">Registration</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link disabled" href="/schedule.html">Schedule</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="/proceedings/index.html">Proceedings</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#"
              id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Past Years</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/archive/2017/index.html">SALSA XXV (2017)</a>
            </div>
          </li>
        </ul>
          <img src="/img/ut_logo.png" height="25rem" style="float:right;"/>

      </div>
    </nav>

    <div class="container">

      {{ content }}

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/style/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/style/js/vendor/popper.min.js"></script>
    <script src="/style/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/style/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

